* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8F5C45;
  font-family: "IvyEpic";
}

p {
  color: white;
  font-family: "IvyEpic", sans-serif;
}

p.translation {
  color: #4A3225;
  font-style: italic;
}

p.text-align-center {
  text-align: center;
}

h3 {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 90px;
  background-color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}
header h2 {
  line-height: 28px;
  margin: 0;
}

.white-bg {
  background-color: white;
  width: fit-content;
  padding: 45px 32px;
  margin-bottom: -34px;
}
.white-bg h3 {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #8F5C45;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
}

section.main {
  padding-top: 140px;
  background-image: url("../img/new_bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
section.main .white-text {
  color: white;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 80px;
}
section.main .white-text h4 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
}
section.main .white-text p {
  font-style: italic;
  font-size: 15px;
  line-height: 25px;
}

section.info {
  padding-top: 120px;
  padding-bottom: 90px;
}
section.info h3 {
  font-weight: 400;
  font-size: 35px;
}
section.info h3 em {
  font-family: "IvyMode", serif;
}

.container {
  max-width: 840px;
  display: block;
  margin: 0 auto;
}

.download-section {
  background-color: white;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}
.download-section h3 {
  color: #8F5C45;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 20px;
}
.download-section h3 em {
  font-family: "IvyMode", serif;
}
.download-section h4 {
  font-weight: 400;
  font-style: italic;
  color: #A1A1A1;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}
.download-section .download-container {
  display: flex;
  margin-right: 15px;
  flex-wrap: wrap;
}
.download-section .download-container .download-option {
  width: fit-content;
  max-width: 200px;
  margin: 0 15px;
}
.download-section .download-container .download-option img {
  max-width: 100%;
}
.download-section .download-container .download-btn {
  background-color: #F9B800;
  width: 100%;
  display: block;
  padding: 10px 25px;
  margin-top: 15px;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.download-section .download-container .download-btn:hover {
  background-color: rgba(249, 184, 0, 0.7);
}

@media (max-width: 1200px) {
  header {
    padding: 20px 20px;
  }
  .download-section {
    padding: 35px;
    margin-bottom: 35px;
    width: 95%;
    flex-wrap: nowrap;
  }
  .download-section .download-container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 800px) {
  header {
    padding: 25px;
  }
  header .logo-container img {
    width: 220px;
  }
  header .title-container {
    display: none;
  }
  .download-section {
    padding: 35px 45px;
    margin: 35px 20px;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }
  .download-section div {
    width: 100%;
  }
  .download-section h4 {
    font-size: 18px;
  }
  .download-section .download-container {
    margin-left: unset;
    margin-right: unset;
    margin: 15px auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .download-section .download-container .download-option:first-of-type {
    margin-bottom: 30px;
  }
  .download-section .download-container .download-option {
    max-width: unset;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .download-section .download-container .download-option img {
    width: 100%;
  }
  .download-section h3 {
    font-size: 30px;
  }
  .download-section h3 em {
    margin-right: 10px;
  }
  section.main {
    padding-top: 140px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../img/bg_mobile.png");
    background-position: center;
    background-size: cover;
  }
  section.main .white-text {
    color: white;
    display: block;
    padding-bottom: unset;
    padding-top: 40px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
  }
  section.info {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  section.info p {
    font-size: 18px;
    line-height: 30px;
  }
  section.info p.translation {
    line-height: 26px;
    font-size: 15px;
  }
  section.info h3 {
    font-size: 30px;
  }
  .white-bg {
    background-color: white;
    width: 100%;
    padding: 40px 30px;
    margin-bottom: 0px;
  }
  .white-bg h3 {
    margin-top: 30px;
    margin-bottom: 0;
    color: #8F5C45;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
  }
  .white-bg .title-svg-container svg {
    height: 170px;
    width: 190px;
  }
  p.text-align-center {
    text-align: left;
  }
  .info br:not(.mobile-break) {
    display: none;
  }
}
.loading {
  overflow: hidden;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #8F5C45;
  top: 0;
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader-container .loader {
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 0em;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
.loader-container .loader svg path,
.loader-container .loader svg rect {
  fill: white;
}
.loader-container .loader svg path:last-of-type {
  transform-origin: center;
  animation-name: loader;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(358deg);
  }
}

/*# sourceMappingURL=styles.css.map */
